body {
  background: skyblue;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.quiz-container {
  max-width: 600px;
  background: white;
  padding: 20px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.quiz-container h1 {
  margin-bottom: 20px;
}

.timer {
  font-weight: bold;
  text-align: right;
  color: #333;
}

.timer.danger {
  color: red;
}

.question {
  font-size: 20px;
  background: #d0ecff;
  padding: 16px;
  border-radius: 8px;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.option {
  background: #1d3557;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.option:hover {
  background: #457b9d;
}

.option.correct {
  background: #2ecc71;
}

.option.incorrect {
  background: #e74c3c;
}

.next_btn {
  display: none;
  margin-top: 20px;
  background: #222;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.quiz_result {
  display: none;
  max-width: 600px;
  background: white;
  padding: 20px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.quiz_result.hidden {
  display: none;
}

.restart_btn {
  margin-top: 20px;
  background: #1d3557;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
